"*":
  "advanced-open-file":
    createFileInstantly: true
  "atom-clock": {}
  "atom-terminal":
    app: "iTerm.app"
    surpressDirectoryArgument: false
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  "bracket-matcher": {}
  "city-lights-ui": {}
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.pyc"
      "venv"
      "env"
    ]
    packagesWithKeymapsDisabled: [
      "zentabs"
    ]
    projectHome: "~/Dev"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "flatland-dark"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Inconsolata"
    scrollSensitivity: 60
    tabLength: 4
  "exception-reporting":
    userId: "ff279c35-0461-40b8-dbbb-67ed8b54de5d"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  linter:
    disabledProviders: [
      "Flake8"
    ]
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8;$PROJECT/venv/bin/flake8"
  "linter-pycodestyle":
    executablePath: "venv/bin/pycodestyle"
  "linter-pylint":
    executablePath: "%p/venv/bin/pylint"
    pythonPath: "%p/venv/bin/python"
  "linter-ui-default":
    panelHeight: 56
    statusBarRepresents: "Current File"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: false
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    prettifyTitle: false
    savePathsRelativeToHome: true
    showPath: false
    sortBy: "last modified"
  "python-isort":
    isortPath: "/usr/local/bin/isort"
    sortOnSave: true
  "seti-ui":
    compactView: true
    hideProjectTab: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "status-bar": {}
  tabs: {}
  "todo-show":
    sortAscending: false
    sortBy: "Type"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
  zentabs:
    maximumOpenedTabs: 6
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
