Host tantalus
	Hostname tantalus.ikaruswill.com
	User admin

Host bastion k1
	Hostname ikaruswill.com
	User pirate
	IdentityFile ~/.ssh/kraken_admin

Host argent
	User root
	ProxyCommand ssh bastion -W %h:%p

Host o1 o2 o3 o4 o5 o6
	User pirate
	IdentityFile ~/.ssh/octopi_admin
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null
	ProxyCommand ssh bastion -W %h:%p

Host k1 k2 k3 k4 k5 k6 k7
	User pirate
	IdentityFile ~/.ssh/kraken_admin
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null
	ProxyCommand ssh bastion -W %h:%p
